@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Reddit Sans", sans-serif;    
    font-size: 16px;
    font-weight:400;
    background-color: #424242;
    color: #fff;
    line-height: 1.25rem;
    margin: 0;
}

p{
    margin-bottom: 1rem;
}

a{
    color: #a5ff6a;
    transition: all 0.5s ease;
}

a:hover{
    color: lime;
}

aside{
    width: 30%;
    padding: 1rem;
}

main{
    width: 65%;
    padding: 1rem 1rem 15rem 1rem;
}

hr{
    margin: 2rem 0;
}

nav#quicklinks{
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 2rem;
    line-height: 2rem;
}

nav#menu{
    position: fixed;
    top: 0;
    right: 0;
}

nav#menu ul li a{
    display: block;
    padding: .5rem;
    background-color: #a5ff6a;
    color: #424242;
    text-decoration: none;
}

nav#menu ul li a:hover{
    background-color: white;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: square;
}

ul ul{
    margin-left: 2rem;
}

.exercise{
    color: rgb(255, 171, 252);
}

.seminar{
    color: rgb(250, 237, 151);
}

.workshop{
    color: aqua;
}

.project{
    color:rgb(255, 56, 56);
}

.short{
    width: 20px;
    margin: 1rem 0;
}

.bigger{
    font-size: 200%;
}

.smaller{
    font-size: 80%;
}

.fullwidth{
    width: 100%;
}

.fullheight{
    height: 100vh;
}

.online_exhibition{
    background: #efefef;
    color: #000;
}

.online_exhibition h1,
.online_exhibition h4{
    font-family: "Pixelify Sans", sans-serif;
}


.index a{
    color: #000;
    text-decoration: none;
}

.online_exhibition a{
    color: #000;
}


.online_exhibition_item{
    width: 100%;
    height: 100vh;
    border: none;
}

.online_exhibition main{
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
}


.project_one.index{
    background: radial-gradient(circle at center, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.project_two.index{
    background: radial-gradient(circle at center, rgb(130, 35, 245) 0%, rgba(0,240,121,1) 100%); 
}

#landing{ 
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    padding: 15vw;
    position: fixed;
    top:0;
    left:0;
}

.project_one #landing{
    background: radial-gradient(circle at center, rgba(238,174,202,1) 0%, rgba(148,187,233, .5) 100%);
}

.project_two #landing{
    background: radial-gradient(circle at center, rgba(130,35,245,1) 0%, rgba(0,240,121,.5) 100%); 
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.column{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 50vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    transition: all 1s ease;
}

.project_one .row .column:nth-child(even):hover{
    background: #eeaeca; 
}

.project_one .row .column:nth-child(odd):hover{
    background: #94bbe9; 
}

.project_one .row:last-child .column:nth-child(odd):hover{
    background: #eeaeca; 
}

.project_one .row:last-child .column:nth-child(even):hover{
    background: #94bbe9; 
}

.project_two .row .column:nth-child(even):hover{
    background: #00f079;
}

.project_two .row .column:nth-child(odd):hover{
    background: #8223f5; 
}

.project_two .row:last-child .column:nth-child(odd):hover{
    background: #00f079;
}

.project_two .row:last-child .column:nth-child(even):hover{
    background: #8223f5; 
}


.flex-container {
    display: flex;
    flex-direction: row;
}

  
  @media (max-width: 800px) {
    aside, main{
        width: 95%;
    }

    .flex-container {
      flex-direction: column;
    }
    
    .row, .column{
        display: block;
        height: auto;
    }

    .online_exhibition main{
        position: static;
    }
  } 
